Django>=3.2
djangorestframework
drf-yasg
django-environ
python-dotenv
coreapi
beautifulsoup4
pandas
selenium
djangorestframework-simplejwt
django-cors-headers
mysqlclient>=2.0.3
django-celery-beat
celery>=5.0.0
psycopg2-binary